#App{
  border:3px solid red;
}
#App>.tab{
  position: relative;
  width: 80%;
  height: 22.5%;
  margin: auto 10%;
}

.tab1{
  background-color: red;
}
.tab2{
  background-color: goldenrod;
}
.tab3{
  background-color: black;
}
.tab4{
  background-color: teal;
}
form{
  height: 10%;
  border: 2px solid orange;

}
form>input{
  height: 5vh;
  width: 80%;
  margin: auto 10%;
}